<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="7zip" />
  <package id="cmake" />
  <package id="ffmpeg" />
  <package id="firefox" />
  <package id="nsis" />
  <package id="texlive" />
  <package id="unzip" />
  <package id="vim" />
  <package id="neovim" />
  <package id="wget" />
  <package id="youtube-dl" />
  <package id="sumatrapdf" />
  <package id="strawberryperl" />
  <package id="gsudo" />
</packages>
